.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.hidden{
    display: none;
}
.board{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.row{
    display:flex;
    flex-direction: row;
}
body{
    font-family: 'Modak', cursive;
    background: #4FFF75;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-weight: normal;
    color: #FF592B;
}
h2{
    font-weight: normal;
    color: #232323;
}
.menu_button{
    background: #FF592B;
    border-radius: 10px;
    min-width: 170px;
    min-height: 70px;
    border: none;
    color: #232323;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Modak', cursive;
}
p{color: #232323;}
a{color: #FF592B;}
button:hover{
    background: #FF997C;
    color: #5E5E5E;
    cursor:pointer;
}
.floor{
    background-image: url("assets/ground.png");
    width: 60px;
    height:60px;
}
.player{
    content:url("assets/player.png");
    margin:auto;
    width: 100%;
    height: 100%;
}

.wall{
    content:url("assets/wall.png");
    width: 100%;
    height: 100%;
}
.crate{
    content:url("assets/crate.png");
    width: 100%;
    height: 100%;
}
.target{
    background-image: url("assets/target.png");
    width: 60px;
    height:60px;
}

